label {
    font-family: Roboto Medium;
    font-weight: 700;
    font-size: 12px;
    color: #1F1F1F;
}

.label__sex {
    margin-left: 6px;
}

.radio-sex>label {
    font-family: Roboto;
    font-weight: 400;
}